<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
    <a href="{% url 'them_sinh_vien' %}" >1. Thêm sinh viên.</a>  <br/>
    <a href="{% url 'them_sinh_vien' %}" >2. Cập nhật thông tin sinh viên bởi ID.</a> <br/>
    <a href="{% url 'them_sinh_vien' %}" >3. Xóa sinh viên bởi ID.</a> <br/>
    <a href="{% url 'them_sinh_vien' %}" >4. Tìm kiếm sinh viên theo tên.</a> <br/>
    <a href="{% url 'them_sinh_vien' %}" >5. Sắp xếp sinh viên theo điểm trung bình (GPA - tăng dần).</a> <br/>
    <a href="{% url 'them_sinh_vien' %}" >6. Sắp xếp sinh viên theo tên tăng dần theo bảng chữ cái.</a> <br/>
    <a href="{% url 'them_sinh_vien' %}" >7. Sắp xếp sinh viên theo ID giảm dần.</a> <br/>
    <a href="{% url 'them_sinh_vien' %}" >8. Hiển thị danh sách sinh viên.</a> <br/>

</body>
</html>